@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

.main {
    width: 100%;
    height: 797px;
}
.spec_menu {
    background: black;!important;
    color: white;!important;
    width: 100%;!important;
}
.header_top {
    width: 100%;
    height: 109px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.header_top__logo svg{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.header_bot {
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header_bot__center a, .header_bot__right a {
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .07em;
    font-family: Futura,sans-serif;
    margin: 0 5px;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: -140px;
    bottom: 0;
    z-index: -1;
}
.quote {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 43px;
    word-spacing: 8px
}
.quote span {
    padding: 9px 15px;
    background: #000;
    color: #fff;
}
.footer {
    width: 1823px;
    height: 160px;
    background: #0d0d0e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}
.footer__row__left {
    width: 1243px;
}
.jolybell, .vk, .instagram {
    margin-right: 20px;
}
.footer_menu {
    font-weight: 300;
    letter-spacing: .07em;
    -webkit-tap-highlight-color: transparent;
    --vh: 5.8px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Futura,sans-serif;
    vertical-align: baseline;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 100%;
    color: #c5c5c5;
}
.footer__row {
    display: flex;
    justify-content: space-between;
}
.footer__row__right, .footer__row__left {
    display: flex;
}
.footer__row__right__box {
    display: flex;
    flex-direction: column;
}
.footer_right {
    width: 500px;
    font-weight: 300;
    letter-spacing: .07em;
    -webkit-tap-highlight-color: transparent;
    --vh: 5.8px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Futura,sans-serif;
    vertical-align: baseline;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 100%;
    color: #c5c5c5;
}
.footer__row__right__box__imgs img{
    width: 70px;
}

.jolybell {
    -webkit-tap-highlight-color: transparent;
    --vh: 5.8px;
    font-family: Futura,sans-serif;
    fill: #888;
    box-sizing: border-box;
    width: 127px;
    height: 40px;
}
.instagram {
    -webkit-tap-highlight-color: transparent;
    --vh: 5.8px;
    fill: #888;
    font-family: Futura,sans-serif;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}
.vk {
    -webkit-tap-highlight-color: transparent;
    --vh: 5.8px;
    fill: #888;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

.store {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.store__title {
    font-size: 50px;
    margin: 30px;
    vertical-align: baseline;
    justify-self: center;
}
.store__row {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.store__row__card {
    width: 430px;
    height: 500px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.store__row__card__price {
    justify-self: flex-start;
    align-self: flex-start;
    background: black;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.store__row__card__name {
    width: 400px;
    justify-self: flex-end;
    font-size: 30px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.store__row__card__item:hover {
    opacity: 0.8;
}
.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.item__title {
    color: white;
    display: flex;
    justify-content: center;
}
.item__info {
    width: 1500px;
    height: 671px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.item__info__left {
    width: 765px;
    height: 540px;
    display: flex;
    justify-content: center;
}
.item__info__right {
    width: 625px;
    height: 671px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.item__info__right__price {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    width: 168px;
    color: black;
    padding: 10px 0;
    background: white;
    margin-bottom: 20px;
}
.item__info__right__info {
    display: flex;
}
.item__info__right__info p {
    margin-right: 10px;
    border: 2px solid #474852;
    padding: 10px 20px;
    border-radius: 20px;
    color: #474852;
}
.item__info__right__size {
    display: flex;
    flex-direction: column;
    color: #474852;
    margin-top: 20px;
}
.item__info__right__size .sizes {
    display: flex;
}
.item__info__right__size .sizes p {
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid #474852;
    padding: 5px 10px;
    border-radius: 20px;
    color: #474852;
}
.size-active {
    background: #fff;
    border: 2px solid #fff;!important;
    font-weight: 700;
}
.item__info__right__buy {
    margin-top: 30px;
    color: #474852;
}
.buy-area {
    display: flex;
    margin-top: 20px;
}
.buy-area__qtty {
    display: flex;
    width: 150px;
    height: 50px;
    border: 3px solid white;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
}
.buy-area__qtty p {
    width: 33%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy-area__qtty .qtty-active {
    background: white;
    color: black;!important;
}
.buybtn {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 3px solid white;
    color: black;
    border-radius: 30px;
    margin-left: 20px;
    padding: 0 40px;
}
.item__info__right__info p:hover, .item__info__right__size .sizes p:hover {
    background: white;
    cursor: pointer;
}